<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cooldown.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>34CFC207B1DEC74F9E89F7BF98D1AC6C09EED6B6</string>
				<key>dateExpires</key>
				<string>8/9/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>E5CQS5463W.com.jones.matt.cooldown</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>E5CQS5463W</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>E5CQS5463W.com.jones.matt.cooldown</string>
				</array>
			</dict>
			<key>name</key>
			<string>Cooldown.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0bfd48ae-dcd6-4471-8665-952bdbb2bfdb</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>E5CQS5463W</string>
				<key>name</key>
				<string>Matthew Jones</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
